.benefits {
    background-color: #f6f6f6;
    padding: 70px 0 78px 0;

    &__header {
        color: #0d0d0d;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-top: 65px;
    }

    &__inform {
        width: 239px;
    }

    &__headline {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        margin-top: 38px;
    }

    &__descr {
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        margin-top: 26px;
    }
    &__img {
        &_animated{
            /* animation-name: haert; 
            animation-duration: 1.5s;
            animation-timing-function: ease;
            animation-iteration-count: paused; */
            &:hover {
                animation: haert  1.5s ease infinite; 
               /*  animation-iteration-count: infinite; */
            }
        }
    }
}